@use 'abstracts/variables';
@use 'abstracts/mixins';

.card{

    --bs-card-border-color: variables.$clr-white;

}

.rounded-circle{

    width: 80%;

    height: 20vw;

    object-fit: cover;

    margin: auto;

}

.shadow{

    box-shadow: 1.563rem 6.563rem 6.563rem 6.563rem variables.$clr-black;
    opacity: 1;

}

.card-img-top{
    
    height: 15vw;
    object-fit: cover;

}

.category-img{
    
    height: 15vw;
    object-fit: cover;

    width: 100%;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;

}
