@use 'abstracts/variables';
@use 'abstracts/mixins';

.card{

    border-color: variables.$clr-white;

}

.rounded-circle{

    width: 80%;

    height: 20vw;

    object-fit: cover;

    margin: auto;

}

.shadow{

    box-shadow: 1.563rem 6.563rem 6.563rem 6.563rem variables.$clr-black;
    opacity: 1;

}

.card-img-top{
    
    height: 15vw;
    object-fit: cover;

}

.category-img{
    
    height: 15vw;
    object-fit: cover;

    width: 100%;

    @include mixins.borders(1rem, 1rem, 0rem, 0rem);

}

.img-info-recipe{

    width: 92%;

    @include mixins.borders(1.5rem, 1.5rem, 1.5rem, 1.5rem);

}

.img-like{ 

    position: absolute;
    top: 11%;
    left: 12%;
    transform:translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 75%;
    width: 12%;

}

.bg-ingredients{

    width: 100%;
    height: 30rem;
    background-color: variables.$clr-orange-light;
    padding-left: 8%;
    padding-top: 6%;
    padding-right: 8%;
    padding-bottom: 4%;
    margin: auto;

}

.round-details-recipe-left{

    @include mixins.borders(0.3rem, 0rem, 0.3rem, 0rem);

}

.round-details-recipe-right{

    @include mixins.borders(0rem, 0.3rem, 0rem, 0.3rem);

}