@use 'abstracts/variables';
@use 'abstracts/mixins';

.title{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-bold, variables.$fs-xlg, variables.$clr-orange);


}

.title-blue{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-bold, variables.$fs-xlg, variables.$clr-seablue);

    

}

.page-description{

    @include mixins.set-font(variables.$ff-serif, variables.$fw-regular, variables.$fs-mdx);

}

.page-ingredients{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-regular, variables.$fs-mdx);
    

    line-height: 4.875rem;

}

.page-steps{

    @include mixins.set-font(variables.$ff-serif, variables.$fw-regular, variables.$fs-mdx);

    line-height: 4.875rem;

    text-align: justify

}

.subtitle-orange{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-mdxl, variables.$clr-orange);
    

}

.subtitle-green{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-mdxl, variables.$clr-green);
    

}

.card-title{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-xsm);

}

.card-news{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-regular, variables.$fs-xsm);

}

.card-detail{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-regular, variables.$fs-xxsm);

}

.recipe-info-title{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-xsm);

}

.recipe-info-detail{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-regular, variables.$fs-xsm);

}

.likes-info{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-mdx, variables.$clr-green);
    

}

