@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'components/media-queries';

.title{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-bold, variables.$fs-xlg, variables.$clr-orange);


}

.title-blue{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-bold, variables.$fs-xlg, variables.$clr-seablue);


}

.title-green{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-bold, variables.$fs-xlg, variables.$clr-green);


}

.page-description{

    @include mixins.set-font(variables.$ff-serif, variables.$fw-regular, variables.$fs-mdx);

    @include media-queries.respond-to(media-queries.$phone){

        text-align: justify;
        @include mixins.set-font(variables.$ff-serif, variables.$fw-regular, variables.$fs-mdx);
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        text-align: justify;
    
    }


}

.page-ingredients{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-regular, variables.$fs-mdx);
    

    line-height: 2.875rem;

}

.page-steps{

    @include mixins.set-font(variables.$ff-serif, variables.$fw-regular, variables.$fs-mdx);

    line-height: 4.875rem;

    text-align: justify;

    @include media-queries.respond-to(media-queries.$phone){

        line-height: 4.105rem;
    
    }

}

.subtitle-orange{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-mdxl, variables.$clr-orange);
    

}

.subtitle-green{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-mdxl, variables.$clr-green);
    

}

.subtitle-account{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-mdx, variables.$clr-seablue);

}

.card-title{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-xsm);

}

.card-news{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-regular, variables.$fs-reg);

}

.card-detail{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-regular, variables.$fs-xxsm);

}

.recipe-info-title{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-xsm);   

}

.likes-info{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-semibold, variables.$fs-mdx, variables.$clr-green);
    
    @include media-queries.respond-to(media-queries.$phone){

        padding-left: 1rem;
        padding-right: 1rem;
    
    }

}

.link-account{

    @include mixins.set-font(variables.$ff-serif, variables.$fw-regular, variables.$fs-xsm, variables.$clr-green);
    font-style: italic;



}

.detail-text{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-regular, variables.$fs-xsm);

}

.detail-text-gray{

    @include mixins.set-font(variables.$ff-sans, variables.$fw-regular, variables.$fs-xsm, variables.$clr-gray);

}

