@use 'abstracts/variables';
@use 'components/media-queries';

@mixin set-font($ffamily, $fweight, $fsize, $fcolor:variables.$clr-black){

    font-family: $ffamily;
    font-weight: $fweight;
    font-size: $fsize;
    color: $fcolor;

}

@mixin set-nav-font($fcolor:variables.$clr-gray, $fweight:variables.$fw-regular){

    font-family: variables.$ff-arimo;
    font-weight: $fweight;
    font-size: variables.$fs-xsm;
    color: $fcolor;

    display: block;
    text-decoration:none;
    list-style-type: none;

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        font-size: variables.$fs-mdx;

    }

}

@mixin btn($fweight, $fsize, $cborder, $bg, $color:variables.$clr-white){

    font-family: variables.$ff-sans;
    font-weight: $fweight;
    font-size: $fsize;
    color: $color;
    background-color: $bg;
    border-color: $cborder;
    display: block;
    margin: auto;

}

@mixin borders($tleft, $tright, $bleft, $bright){

    border-top-left-radius: $tleft;
    border-top-right-radius: $tright;
    border-bottom-left-radius: $bleft;
    border-bottom-right-radius: $bright;

}

@mixin form-control($backcolor, $bordercolor, $ffamily:variables.$ff-sans){

    background-color:$backcolor;
    border-color:$bordercolor;
    font-family: $ffamily;
    font-weight: variables.$fw-regular;
    font-size: variables.$fs-xsm;
    

}