
//font-family
$ff-arimo: 'Arimo', sans-serif;
$ff-sans: 'Source Sans Pro', sans-serif;
$ff-serif: 'Source Serif Pro', serif;

//font-weight
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-xbold: 900;

//font-size
$fs-xxsm: 0.75rem;
$fs-xsm: 1.05rem;
$fs-sm: 1.5rem;
$fs-reg: 1.25rem;
$fs-md: 1.125rem;
$fs-mdx: 1.400rem;
$fs-mdxl: 2.125rem;
$fs-lg: 3rem; 
$fs-xlg: 4rem; 


//colors
$clr-black: hsl(0, 0, 0);
$clr-white: hsl(0, 0, 100);
$clr-gray: hsl(0, 0, 45); 

$clr-green: hsl(166, 29, 50);
$clr-seablue: hsl(192, 67, 57);
$clr-orange: hsl(28, 96, 56);
$clr-red: hsl(0, 97, 66);