@use 'abstracts/variables';
@use 'components/media-queries';

.row{

    display: flex;
    flex-wrap: wrap;

}

.container {

    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 1370px;

}

.container-md {

    max-width: 1140px;
    
}

.container-sm{

    max-width: 452px;

}

.container-img-category{

    position: relative;
    width: 100%;
    height: auto;

}

.bg-sections{

    width: 100%;
    background-color: variables.$clr-orange-light;
    padding-top: 3%;
    padding-bottom: 4%;
    margin: auto;

}

.count-created{

     padding-left: 71%;

}

.count-registered{

    padding-right: 71%;

}

.row-cols-md-5{

    width: 100%;

}

.padding-left-nav{

    padding-left: 3rem;

    @include media-queries.respond-to(media-queries.$phone){

        padding-left: 0rem;
        
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        padding-left: 0rem;

    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        padding-left: 0rem;

    }

}
