@use 'abstracts/variables';

.row{

    display: flex;
    flex-wrap: wrap;

}

.container {

    margin-left: 0;
    margin-right: 0;
    padding-left: 0%;
    padding-right: 0%;
    max-width: 1370px;

}

.container-sm {

    max-width: 1140px;
    
}

.container-img-category{

    position: relative;
    width: 100%;
    height: auto;

}
