@use 'abstracts/variables';
@use 'abstracts/mixins';

//forms para crear nueva receta
.form-create-recipe-sm{

    border-width:2px;

    @include mixins.form-control(variables.$clr-seablue, variables.$clr-seablue);

}

.form-create-recipe-lg{

    height: 10rem;
    padding-left: 0.9rem;

    @include mixins.form-control(variables.$clr-seablue, variables.$clr-seablue);

}

//Clase para el recuadro de remember me
.form-check .form-check-input {

    float: none;

}

//Clase para forms de login
.form-user-login{

    margin: auto;
    @include mixins.form-control(variables.$clr-white, variables.$clr-seablue);

}