@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'components/media-queries';

.form-control-nav{

    width: 60%;
    height: 80%;

    padding-right: 0%;

    border-width:2px;

    @include mixins.form-control(variables.$clr-white, variables.$clr-seablue, variables.$ff-arimo);

    @include mixins.borders(1rem, 1rem, 1rem, 1rem);

    @include media-queries.respond-to(media-queries.$phone){

        margin-left: 16%;

        width: 49%;

    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        margin-left: 16%;

        width: 49%;

    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        margin-left: 31%;

        width: 30%;

    }

}

.place-style::placeholder{

    color: variables.$clr-seablue;

}

.top-nav-item{
    
    @include mixins.set-nav-font();
    
}

.top-nav-link{

    
    @include mixins.set-nav-font();

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        padding-bottom: 10%;

    }

}

.top-nav-link:hover{
    opacity: 1;
    @include mixins.set-nav-font(variables.$clr-seablue);
}

.top-nav-link:hover::after{

    opacity: 100;

}

.top-nav-select{
    
    @include mixins.set-nav-font(variables.$clr-red, variables.$fw-bold);

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        padding-bottom: 10%;

    }
}

.img-logo{

    @include media-queries.respond-to(media-queries.$phone){

        width: 90%;
        padding-left: 1rem;

    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        width: 90%;
        padding-left: 1rem;

    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        width: 90%;
        padding-left: 1rem;

    }

    
    
}

.navbar{

    width: 100%;
    overflow: auto;

    @include media-queries.respond-to(media-queries.$phone){

        overflow: hidden;

    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        overflow: hidden;

    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        overflow: hidden;
        padding-left: 10%;

    }

}

.navbar-nav{

    @include media-queries.respond-to(media-queries.$phone){

        text-align: center;
        padding-top: 15%;

    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        text-align: center;
        padding-top: 15%;

    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        text-align: center;
        padding-top: 15%;

    }

}

.mobile-bar{
    
    display: none;

    @include media-queries.respond-to(media-queries.$phone){

            display: block;
            position: static;
            width: 100%;


    }   
    
    @include media-queries.respond-to(media-queries.$tablet-portrait){

        width: 100%;
        display: block;
        position: static;

    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        width: 100%;
        display: block;
        position: static;

    }

}

.offcanvas-header{

    display: none;

    @include media-queries.respond-to(media-queries.$phone){

            display: block;
            margin-top: 5%;

    }  
    
    @include media-queries.respond-to(media-queries.$tablet-portrait){

        display: block;
        margin-top: 5%;

    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        display: block;
        margin-top: 5%;

    }

}

.mobile-icon{

    display: none;

    @include media-queries.respond-to(media-queries.$phone){
    
            width: 10%;

            float: right;
            display: block;
            margin-right: 10%;
        	margin-top: 13%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        width: 10%;

        float: right;
        display: block;
        margin-right: 10%;
        margin-top: 13%;

    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        width: 10%;

        float: right;
        display: block;
        margin-top: 13%;

    }

}

.mobile-offcanvas{

    @include media-queries.respond-to(media-queries.$phone){
    
    display: block;
    visibility: hidden;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width:80%;
    height:100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: white;
    transform: translateX(-100%);
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;

    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        display: block;
        visibility: hidden;
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width:80%;
        height:100%;
        overflow-x: hidden;
        overflow-y: scroll;
        background: white;
        transform: translateX(-100%);
        transition: visibility .3s ease-in-out, transform .3s ease-in-out;

    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        display: block;
        visibility: hidden;
        border-radius: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width:80%;
        height:100%;
        overflow-x: hidden;
        overflow-y: scroll;
        background: white;
        transform: translateX(-100%);
        transition: visibility .3s ease-in-out, transform .3s ease-in-out;

    }

}

.show-nav{

    @include media-queries.respond-to(media-queries.$phone){
        
    visibility: visible;
    transform: translateX(0); 

    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){
        
        visibility: visible;
        transform: translateX(0); 
    
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){
        
        visibility: visible;
        transform: translateX(0); 
    
    }

} 