@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'components/media-queries';

.img-info-recipe{

    width: 92%;

    @include mixins.borders(1.5rem, 1.5rem, 1.5rem, 1.5rem);

    @include media-queries.respond-to(media-queries.$phone){

        width: 96%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        width: 91%;
        margin-left: 4%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        width: 91%;
        margin-left: 3%;
    
    }

}

.img-like{ 

    position: absolute;
    top: 11%;
    left: 12%;
    transform:translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 75%;
    width: 12%;

    @include media-queries.respond-to(media-queries.$phone){

        margin-left: 1%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        margin-left: 2%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        margin-left: 2%;
    
    }

}

.bg-ingredients{

    width: 100%;
    background-color: variables.$clr-orange-light;
    padding-left: 8%;
    padding-top: 6%;
    padding-right: 8%;
    padding-bottom: 4%;
    margin: auto;

    @include media-queries.respond-to(media-queries.$phone){

        padding-left: 20%;
        padding-right: 20%;
    
    }

}

.round-details-recipe-left{

    @include mixins.borders(0.3rem, 0rem, 0.3rem, 0rem);

}

.round-details-recipe-right{

    @include mixins.borders(0rem, 0.3rem, 0rem, 0.3rem);

}

.list-group{

    padding-right: 0%;
    padding-left: 15%;


    @include media-queries.respond-to(media-queries.$tablet-portrait){

        padding-left: 13%;
     
    }

}