@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'components/media-queries';

//Botones rojos
.btn-danger{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-red, variables.$clr-red);

    width: 100%;  

}

.btn-save{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-red, variables.$clr-red);
 
    
    width: 20%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

    @include media-queries.respond-to(media-queries.$phone){

        width: 40%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        width: 40%;
    
    }

}

.btn-user{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-red, variables.$clr-red);
 
    
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

}

.btn-delete{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-red, variables.$clr-red);

    padding-left: 13%;
    width: 70%;
    
}

//Botón negro
.btn-dark{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-black, variables.$clr-black);

    width: 20%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}

//Botones verdes
.btn-information{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-green, variables.$clr-green);
    padding-left: 9%;
    padding-right: 9%;

}

.green-btn-create{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-green, variables.$clr-green);
   
    padding-top: 0.5%;
    padding-bottom: 0.5%;

}

.btn-green{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-green, variables.$clr-green);
  
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    padding-left: 3%;
    padding-right: 3%;

    @include media-queries.respond-to(media-queries.$phone){

        padding-top: 3%;
        padding-bottom: 3%;
        width: 100%;

    }

}

.btn-logout{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-green, variables.$clr-green);
  
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    padding-left: 3%;
    padding-right: 3%;

    @include media-queries.respond-to(media-queries.$phone){

        padding-top: 2%;
        padding-bottom: 2%;
        width: 85%;

    }

}

.btn-edit{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-seablue, variables.$clr-green);

    width: 62%;

}

//Botón naranja
.btn-categories{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-orange, variables.$clr-orange, variables.$clr-white);

    width: 100%;

    @include media-queries.respond-to(media-queries.$phone){

        @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-orange, variables.$clr-orange, variables.$clr-white);

        

    }


}

//Botón transparente
.btn-transparent{

    background-color: transparent;
    border-color: transparent;

}

//Botón de cierre
.btn-close{

    @include media-queries.respond-to(media-queries.$phone){

        margin-left: 5%;
        
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        margin-left: 5%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        margin-left: 5%;
    
    }

}