@use 'abstracts/variables';
@use 'abstracts/mixins';


.btn-danger{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-red, variables.$clr-red);

    width: 100%;  

}

.btn-save{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-red, variables.$clr-red);
 
    
    width: 20%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}

.btn-dark{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-black, variables.$clr-black);

    width: 20%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}

.btn-green{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-green, variables.$clr-green);

}

.btn-categories{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-mdx, variables.$clr-orange, variables.$clr-orange, variables.$clr-white);

    @include mixins.borders(0rem, 0rem, 1rem, 1rem);

    width: 100%;


}

.btn-transparent{

    background-color: transparent;
    border-color: transparent;

}

.btn-edit{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-seablue, variables.$clr-seablue);

    width: 62%;

}

.btn-delete{

    @include mixins.btn(variables.$fw-semibold, variables.$fs-xsm, variables.$clr-red, variables.$clr-red);

    padding-left: 7%;
    width: 70%;
    
}