@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'components/media-queries';

//Clase de cards
.card{

    border-color: variables.$clr-light-gray;

    @include media-queries.respond-to(media-queries.$phone){

        margin-left: 8%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        margin-left: 5%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        margin-left: 9%;
    
    }

    @include media-queries.respond-to(media-queries.$large-desktop){

        margin-left: 6%;
    
    }

}

//Cards de noticias
.card-news{

    border-color: variables.$clr-white;

}

//Imagenes de cards comunes
.card-img-top{
    
    height: 15vw;
    object-fit: cover;

    @include media-queries.respond-to(media-queries.$phone){

        height: 47vw;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        height: 56vw;
    
    }

}

//Imagenes de cards de noticias
.rounded-circle{

    width: 80%;

    height: 20vw;

    object-fit: cover;

    margin: auto;

    @include media-queries.respond-to(media-queries.$phone){

        height: 68vw;
        width: 100%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        width: 95%;
        height: 29vw;
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        width: 70%;
        height: 20vw;
        margin-right: 10%;
    
    }

}

//Card body
.card-body{

    padding-left: 0.1rem;
    padding-right: 0.1rem;

}