@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'components/media-queries';

.card{

    border-color: variables.$clr-white;

    @include media-queries.respond-to(media-queries.$phone){

        margin-left: 7%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        margin-left: 5%;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        margin-left: 9%;
    
    }

    @include media-queries.respond-to(media-queries.$large-desktop){

        margin-left: 6%;
    
    }

}

.card-img-top{
    
    height: 15vw;
    object-fit: cover;

    @include media-queries.respond-to(media-queries.$phone){

        height: 47vw;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        height: 56vw;
    
    }

}

.rounded-circle{

    width: 80%;

    height: 20vw;

    object-fit: cover;

    margin: auto;

    @include media-queries.respond-to(media-queries.$phone){

        height: 65vw;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-portrait){

        width: 54%;
        height: 45vw;
    
    }

    @include media-queries.respond-to(media-queries.$tablet-landscape){

        width: 70%;
        height: 20vw;
        margin-right: 10%;
    
    }

}

.shadow{

    box-shadow: 1.563rem 6.563rem 6.563rem 6.563rem variables.$clr-black;
    opacity: 1;

}

.card-body{

    padding-left: 0.1rem;
    padding-right: 0.1rem;

}