@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'components/media-queries';

//Clase para ajustar las imágenes de recetas registradas en la tabla
.size-img-table{

    width: 57%;
    height: 7vw;
    object-fit: cover;

}

//Clase que estiliza las tablas del administrador con recetas y usuarios registrados
.table > thead > tr > th{

    background-color: variables.$clr-orange;

}

.thead, tbody, tfoot, tr, td, th {
    border-color: variables.$clr-orange;


}